
<div class="container">
 
        <div class="col-12 main-content pt-4 mh-100">
          <div class="row">
              
              <div class="h-25 w-25 p-2">
              <label for="validationDefault01">Category</label>
                <select class="form-control" id="inputGroupSelect01" (change)="onChangeCategoryTest($event.target.value)">
                  <option *ngFor="let val of CategoryList" [value]="val">{{val}}</option>
                  <option value="sss">value</option>
                </select>
              </div>
                <div class="h-25 w-25 p-2">
                <label for="validationDefault02">SubCategory</label>
                <select class="form-control" id="inputGroupSelect02" (change)="onChangeSubCategoryTest($event.target.value)">
                  <option *ngFor="let val of ProducSubtCtegoryList" [value]="val">{{val}}</option>
                  <option>Val</option>
               </select>
              </div>
            
          </div>
          <div class="row">
            <nav class="navbar navbar-expand-lg bg-light w-75 p-2 border-bottom">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link"  routerLinkActive="active-link" routerLink="/visibility" >Visibility <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/trade">Trading</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/shipping">Shipping</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        <!--  <div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/visibility">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
          </div>-->
            
      </div><!--./main content col 10 ends-->      

</div>
<router-outlet></router-outlet>